# - Android Studio configuration
*.iml
*.ppm
*.db

# - IntelliJ ignorable configuration project files
.idea/caches/
.idea/libraries/
.idea/sonarlint/
.idea/workspace.xml
.idea/gradle.xml
.idea/modules.xml

# - Build ignorable files
.gradle
NeoCom.DataManagement.AcceptanceTests/AcceptanceTests/
