*.diff
*.db
*.log
.recommenders/

traces/*.trc
traces/EIA.tws
ProjectResources/
EIA/resources/evedroid.db
NeoCom.angularjs/src/main/resources/static/node_modules/
NeoCom.angularjs/src/main/resources/static/npm-debug.log
NeoCom.angularjs2/npm-debug.log
NeoCom.delete/
NeoCom.sandbox/npm-debug.log
NeoCom.sandbox/tsconfig.json
NeoCom.model/src/main/removed/
NeoComAndroid/
EIA/bin/
**/_0.*
.metadata/.plugins/org.eclipse.egit.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.core.ui/dialog_settings.xml
