*.iml
*.ppm
*.db

.gradle
/gradle
/build

ESI.SwaggerApi/out/
NeoCom.Model/out/
NeoCom.DataManagement/out/

/.idea/libraries
#/local.properties
#/.idea/workspace.xml
#.DS_Store
#/captures
#.externalNativeBuild
#NeoCom.Model/src/main/resources/properties/esiauthorization.properties
#NeoCom.DataManagement/src/main/resources/cache/
#NeoCom.DataManagement/libs/
#NeoCom.Model/libs/
