<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dimensinfin.evedroid"
    android:versionCode="54"
    android:versionName="0.5.4" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <application
        android:name="org.dimensinfin.evedroid.EVEDroidApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="EVEI 0.5.4-DataSource"
        android:largeHeap="true"
        android:logo="@drawable/evei4"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.dimensinfin.evedroid.activity.core.SplashActivity"
            android:icon="@drawable/splash_icon"
            android:label="EVEI 0.5.3-Unification"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.dimensinfin.evedroid.activity.PilotListActivity"
            android:label="@string/title_activity_PilotList" >
        </activity>
        <activity
            android:name="org.dimensinfin.evedroid.activity.core.SettingsActivity"
            android:label="Settings" >
        </activity>
        <activity
            android:name="org.dimensinfin.android.mvc.activity.SafeStopActivity"
            android:label="Exception Detected"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.dimensinfin.evedroid.activity.core.NewVersionWarningActivity"
            android:label="On Construction"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.dimensinfin.evedroid.activity.core.StopNOSDActivity"
            android:label="On Construction"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.dimensinfin.evedroid.activity.core.AddNewAPIActivity"
            android:label="On Construction"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.dimensinfin.evedroid.activity.DirectorsBoardActivity"
            android:label="@string/title_activity_DirectorsBoard"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.dimensinfin.evedroid.activity.AssetsDirectorActivity"
            android:label="@string/title_activity_AssetsDirector" >
        </activity>
        <activity
            android:name="org.dimensinfin.evedroid.activity.ShipDirectorActivity"
            android:label="Ships" >
        </activity>
        <activity
            android:name="org.dimensinfin.evedroid.activity.IndustryDirectorActivity"
            android:label="Industry Director" >
        </activity>
        <activity
            android:name="org.dimensinfin.evedroid.activity.MarketDirectorActivity"
            android:label="Market Orders" >
        </activity>
        <activity
            android:name="org.dimensinfin.evedroid.activity.IndustryT2Activity"
            android:label="Industry T2 Manufacture"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.dimensinfin.evedroid.activity.ItemDetailsActivity"
            android:label="Item Details"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.dimensinfin.evedroid.activity.MiningSessionActivity"
            android:label="Item Details"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.dimensinfin.evedroid.activity.JobDirectorActivity"
            android:label="JOB Planned" >
        </activity>

        <service
            android:name="org.dimensinfin.evedroid.service.MarketUpdaterService"
            android:enabled="true" >
        </service>
        <service
            android:name="org.dimensinfin.evedroid.service.CharacterUpdaterService"
            android:enabled="true" >
        </service>
    </application>

</manifest>