# ignore first level files
.lock
.log
version.ini

**/_0.*

# ignore the rest by marking the directories
.mylyn/
.plugins/com.android.ide.eclipse.adt/
.plugins/org.eclipse.cdt.make.core/
.plugins/org.eclipse.compare/
.plugins/org.eclipse.core.resources/
.plugins/org.eclipse.datatools.connectivity/
.plugins/org.eclipse.debug.core/
.plugins/org.eclipse.debug.ui/
.plugins/org.eclipse.e4.workbench/
.plugins/org.eclipse.epp.logging.aeri.ide/
.plugins/org.eclipse.equinox.p2.ui/
.plugins/org.eclipse.jdt.core/
.plugins/org.eclipse.jdt.debug.ui/
.plugins/org.eclipse.jdt.junit.core/
.plugins/org.eclipse.jdt.launching/
.plugins/org.eclipse.jdt.ui/
.plugins/org.eclipse.ltk.core.refactoring/
.plugins/org.eclipse.ltk.ui.refactoring/
.plugins/org.eclipse.m2e.core/
.plugins/org.eclipse.m2e.jdt/
.plugins/org.eclipse.m2e.logback.configuration/
.plugins/org.eclipse.mylyn.bugzilla.core/
.plugins/org.eclipse.mylyn.context.core/
.plugins/org.eclipse.mylyn.tasks.ui/
.plugins/org.eclipse.oomph.setup/workspace.setup
.plugins/org.eclipse.pde.core/
.plugins/org.eclipse.recommenders.completion.rcp.calls/
.plugins/org.eclipse.recommenders.completion.rcp.overrides/
.plugins/org.eclipse.recommenders.rcp/
.plugins/org.eclipse.search/
.plugins/org.eclipse.team.core/
.plugins/org.eclipse.team.cvs.core/
.plugins/org.eclipse.team.cvs.ui/
.plugins/org.eclipse.ui.editors/
.plugins/org.eclipse.ui.ide/
.plugins/org.eclipse.ui.intro/
.plugins/org.eclipse.ui.views.log/
.plugins/org.eclipse.ui.workbench/
.plugins/org.eclipse.ui.workbench.texteditor/
.plugins/org.eclipse.wb.discovery.core/
.plugins/org.eclipse.wst.internet.cache/
.plugins/org.eclipse.wst.jsdt.core/
.plugins/org.eclipse.wst.sse.core/
.plugins/org.eclipse.wst.sse.ui/
.plugins/org.eclipse.wst.xml.core/

# files to include in the project
.plugins/org.eclipse.core.runtime/.settings/*
#!.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
!.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
#!.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
