input {
  width: 33%;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}

.pr-list-title {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
}

.pr-list-name {
  border: 1px solid #CCC;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  margin-left: 5px;
  padding: 8px 12px;
  vertical-align: middle;
  /*width: 100%;*/
  background-color: aliceblue;
}

.pr-list-name:hover {
  background-color: palegreen;
}

.pr-list {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}

.pr-button {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  margin-left: 5px;
  vertical-align: middle;
}

.badge {
  background-color: #BCE954;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 14px;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 4px;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  text-align: right;
}

.badge-blue {
  background-color: #5882FA;
  text-align: right;
  padding-left: 5px;
  padding-right: 5px;
}

.resourceName {
  margin-left: 5px;
  font-size: 16px;
}
